h1 {
    color: red;
    text-align: right;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgba(17, 240, 55, 0.808);
    display: flex;
    justify-content: space-between;
    text-align:right;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
background-color: rgb(111, 0, 255);
}